.leftBar-bg {
  position: relative;
  flex: 20% 1;
  background-color: var(--leftBar-bg);
  border-right: 1px solid var(--leftBar-border-right);
}

.leftBar-header {
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  z-index: 10;
  padding: 4px;

}

@media screen and (max-width: 1000px) {
  .container .leftBar-bg {
    flex: 0 0 45%;
  }
}

.leftBar-scroll {
    overflow-y: scroll;
    height: 80vh;
}

.left-search-bar {
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.left-search-main-div {
  width: 100%;
  float: left;
}

.left-search-input {
  width: 86%;
  border: none;
  outline: none;
  background: var(--secondary);
  border-radius: 7px;
  padding: 6px;
  height: 38px;
  font-size: 14px;
  align-items: center;
  color: var(--h4);
  padding-left: 45px;
}
.search-result {
  top: 5px;
  position: relative;
  float: right;
}
.left-search-icon {
  position: absolute;
  left: 30px;
  top: 7px;
  font-size: 1em;
  color: var(--icons);
  justify-content: center;
  align-items: center;
}

.search,
.go-back {
  position: absolute;
  left: 30px;
  top: 7px;
  font-size: 1em;
  color: var(--icons);
  justify-content: center;
  align-items: center;
  transition: .8s all;
}

.search {
  opacity: 1;
}

.go-back {
  opacity: 0;
  color: var(--icons);
}

.left-search-bar:focus-within .go-back {
  transform: rotate(360deg);
  opacity: 1;
  transition-delay: 0s;
}

.left-search-bar:focus-within .search {
  opacity: 0;
}

.filter-main-container {
  padding: 10px;
  background: var(--leftBar-bg);
  border-radius: 10px;
}

.filter-title {
  font-size: 15px;
  font-weight: bold;
  color: var(--category-title-color);
  margin-bottom: 10px;
  text-align: left;
}

.filter-list-container {
  max-height: 250px;
  overflow-y: auto;
  border-radius: 5px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-items {
  font-size: 14px;
  padding: 8px;
  margin: 5px 0;
  background: var(--filterBackground);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-items:hover {
  background: var(--filterHover);
}

.filter-checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.filter-label {
  flex-grow: 1;
  cursor: pointer;
}

 .price-filter-input {
  width: 100%;
  display: flex;
  margin: 30px 0 30px;
}
 .price-filter-field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  font-size: 14px;
}
.price-filter-field input {
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--leftBar-border-right);
}

.price-filter-separator {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-filter-slider {
  height: 5px;
  position: relative;
  background: var(--filterBackground);
  border-radius: 5px;
}
 .price-filter-result {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: var(--right-side-border);
}

.price-main-range {
  position: relative;
  height: 20px; 
}
.price-main-range input {
  position: absolute;
  width: 100%;
  height: 1px;
  background: none;
  pointer-events: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}

 input.price-range-min {
  z-index: 2;
}
 input.price-range-max {
  z-index: 3;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--right-side-border);
  pointer-events: auto; 
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--right-side-border);
  pointer-events: auto;
  -moz-appearance: none;
}