.right-container {
  flex: 80%;
  display: flex;
  overflow: hidden;
}

.right-side-module {
  position: relative;
  flex-direction: column;
  overflow: hidden;
  flex: 40%;
  background-color: var(--right-side);
}
.rightSide-header {
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  z-index: 10;
  padding: 4px;
}

.right-side-main-text {
  font-size: 25px;
  font-weight: 400;
  color: var(--h4);
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

.chatBox {
  position: relative;
  flex: 1 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  padding: 0px 50px;
}
.right-side-scroll {
  overflow-y: scroll;
  height: 90vh;
}
.rightSide-card-image {
  width: 100%;
}
.rightSide-card-image-company {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 270px;
  background-size: cover;
}
.rightSide-card-text {
  text-align: center;
  padding: 5px;
  color: var(--h4);
}
.navigation-hierarchy{
  color: var(--navigation-hierarchy);
  cursor: pointer;
  text-decoration: none;
   
}
.text-left {
  text-align: left !important;
  text-transform: capitalize;
}
.text-left-cat{ 
  color: var( --cat-subcat);
}

.product-card-title {
  margin-bottom: 0px;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category-card-title {
  margin-bottom: 0px;
  height: 160px;
  background-size: cover;
  background-position: center center;
}
.subcategory-card-title{
  margin-bottom: 0px;
  height: 160px;
  background-size: cover;
  background-position: center center;
}
.company-card-title{
  margin-bottom: 0px;
  height: 160px;
  background-size: cover;
  background-position: center center;
}

.search-company-img{
  margin-bottom: 0px;
  height: 160px;
  background-size: cover;
  background-position: center center;
}
.rightSide-card-image-company-logo{
  margin-bottom: 0px;
  height: 28vh;
  background-size: cover;
  background-position: center;
  border-right: #ccc 1px solid;
  background-repeat: no-repeat;

}
.icons-whatsapp{
    text-align: left;
    display: block;
    background: #1ed314;
    width: 165px;
    float: right;
    border-radius: 20px;
    color: #fff;
    padding: 5px 8px;
    margin-bottom: 4px;
    cursor: pointer;
}

.icons-Email{
  text-align: left;
  display: block;
  background: #1e46c3;
  width: 165px;
  float: right;
  border-radius: 20px;
  color: #fff;
  padding: 5px 8px;
  margin-bottom: 4px;
  cursor: pointer;

}

.icons-catalog{
  text-align: left;
  display: block;
  background: #fb6c0c;
  width: 165px;
  float: right;
  border-radius: 20px;
  color: #fff;
  padding: 5px 8px;
  margin-bottom: 4px;
  cursor: pointer;

}

.icons-inquiry{
  text-align: left;
  display: block;
  background: #494949;
  width: 165px;
  float: right;
  border-radius: 20px;
  color: #fff;
  padding: 5px 8px;
  margin-bottom: 4px;
  cursor: pointer;
}

.products-details-col{
  
  height: 245px;
  background-size: contain;

}
.inquiry-product{
  display: block;
    text-align: center;
    margin: auto;
    width: 50%;
}